
/*  FONTS SERVED BY TYPEKIT VIA JS*/
/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,500);*/

/*
********** RESET
*/

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

body {
    font-family: "brandon-grotesque";
/*    background-color: #eeffdd;*/
}

/*ron - needed to punch up these headers */
h2 {
    font-size: 2.8em;
    /* margin aligns h2 with other elements, improves spacing beneath */
    margin: 10px;
}

h4 {
    font-size: 1.2em;
    margin: 0px;
}
/*end ron*/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

/*
************* HEADER / MASONRY
*/

header {
    max-width: 1200px;
    max-height: 600px;
    margin: 0 auto;
  /*background: #1967BF;*/
    background: #efefef;

}

header .crop {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

header .crop.small {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

@media only screen and (max-width: 479px) {
    header {
        display: none;
        max-height: 450px;
    }
}

header .crop img {
    height: 100%;
    opacity: 0.7;
}

/*
************* NAV BAR
*/

nav {
    color: #333;
    border-bottom: 5px solid #F24738;
}

nav ul li {
    display: inline-block;
    /*ron - menu items needed more space, moved margin
    to left side so not pushed too far off right edge */
    margin: 0 0 0 10px;
    /*margin: 0 5px;*/
    font-family: "brandon-grotesque";
    font-weight: 500;
    font-size: 1em;
    text-transform: uppercase;
    /*ron - opened up all caps*/
    letter-spacing: .2em;
}

nav ul li a, nav ul li a:active, nav ul li a:visited {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    text-decoration: none;
    color: #F24738;
}

nav h6 {
    font-family: "brandon-grotesque";
    font-weight: 500;
    font-size: 1em;
    margin: 25px 0;
    text-transform: uppercase;
    text-align: center;
    /*RON*/
    letter-spacing: .2em;
}

nav ul {
    text-align: center;
    padding-left: 0;
}

@media only screen and (min-width: 480px) {
    nav h6 {
        text-align: left;
    }

    nav ul {
        text-align: right;
        margin: 25px 0;
    }

    nav.row.fixed {
        position: fixed;
        z-index: 99;
        background: #fff;
        top: 0;
        opacity: 1.0;
    }
}

/*
************* MAIN SECTION STYLES
*/

#main .big-crop {
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

#main .big-crop img {
    width: 100%;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
}

#main {
    clear: both;
}

#main p {
    font-size: 1.7em;
    font-weight: 100;
}

#main .icon p {
    font-size: 1.1em;
    padding: 0 10px;
    color: white;
}

#main .name-list p, #main .profile p {
    font-size: 1.4em;
    margin: 0;
    padding: 5px 0;
}

@media only screen and (max-width: 479px) {
    #main .name-list p, #main .profile p {
        font-size: 1.3em;
    }
}

#main .name-list {
    padding: 25px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#main .profile-slider {
  /*border: 20px solid #ddd;*/
    padding: 0px 0;
    margin: 25px 0 50px;
}

#main .profile h1 {
    text-transform: uppercase;
    margin: 5px 0;
    /*ron - caps spaced out */
    letter-spacing: .06em;
}

#main .profile h5 {
    text-transform: uppercase;
    color: #000;
    margin: 0;
    padding-bottom: 0;
    /*ron - caps spaced out, size slightly reduced */
    letter-spacing: .1em;
    font-size: .8em;
    text-align: left;
}

#main .profile p {
    margin-bottom: 20px;
}

#main .profile a {
    text-transform: uppercase;
    text-decoration: none;
    color: #1967BF;
    /*ron - caps spaced out, size slightly reduced */
    letter-spacing: .1em;
    font-size: .9em;
}

.icon {
    text-align: center;
    background: #F24738;
    padding: 75px 0 50px;
    min-height: 300px;
    overflow: hidden;
}

.icon img {
    width: 50%;
    margin: 0 25%;
}

.rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.hero {
    width: 100%;
    text-align: center;
    font-family: "brandon-grotesque";
    font-size: 2.4em;
    font-weight: 700;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 10px solid #fff;

}

.hero-wrap {
    padding: 60px 60px 90px;
    background: #F24738;
    height: 300px;
    overflow: hidden;
    border-radius: 0 0 15px 15px;
}

.opacity {
    opacity: 0.7;
}

.hero h1 {
    margin: 0;
    font-size: 2em;
    font-weight: 100;
    color: #fff;
    letter-spacing: 6px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
    line-height: 98%;
}

.hero h1:first-child {
    border-top: 3px solid #fff;
}

.hero h1 span {
  color: #fff;
}

.hero h3, h5 {
  font-weight: 100;
  color: #fff;
  letter-spacing: 6px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 3px solid #fff;
  padding-bottom: 15px;
}

.hero h3 {
    margin-top: 15px;
}

.hero h5 {
  font-size: 0.5em;
  border: none;
}

@media only screen and (max-width: 767px) {
    .hero {
        position: static;
        padding-bottom: 0;
    }

    .hero-wrap {
        margin: 0;
        padding: 50px 5px 0;
        width: auto;
        height: auto;
    }

    .hero h1 {
      font-size: 0.8em;
    }

    .hero h3 {
      font-size: 0.4em;
      margin-top: 25px;
    }
}

#students_title {
    margin: 0 auto;
}

span {
    padding: 0 5px;
}

span:hover {
    cursor: pointer;
}

.selected {
    color: #1967BF;
    font-weight: 700;
}

.nowrap {
    white-space: nowrap;
}

.student-profile {
    display: none;
}

.project {
    margin-top: 50px;
    text-align: center;
}

#main .project p {
    font-size: 1em;
    font-weight: 400;
    /* ron - constrain p with, harmonize with proj imgs. shorten lines */
    padding: 0 50px 0 50px;
}

#main .project h4 {
    font-size: 1.6em;
    font-weight: 700;
    /* ron - constrain p with, harmonize with proj imgs. shorten lines */
    padding: 0 50px 0 50px;
}

.byline {
    font-size: .9em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1em;
}

.right {
    float: right;
}

footer h1 {
    text-transform: uppercase;
    font-family: "brandon-grotesque";
    font-weight: 100;
    letter-spacing: .08em;
}

#main footer p {
    font-size: 1.2em;
    font-weight: 300;
}

#main footer a, a:active, a:visited {
    border-bottom: 3px solid #F24738;
    text-decoration: none;
    color: #F24738;
}

#main footer a:hover {
    border: none;
}

@media only screen and (min-width: 480px) {
    footer {
        background: #F24738;
        padding: 10px 20px;
        border-radius: 3px 3px 0 0;
        color: #fff;
    }

    #main footer a, a:active, a:visited {
        border-bottom: 3px solid white;
        color: white;
        text-decoration: none;
    }

    #main footer a:hover {
        border: none;
    }
}

/* ISOTOPE SETTINGS */

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}